doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href!="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="./css/main.css")
        title HW #11 
    body
        .container 
            header
                nav
                    a(href="#")
                        p Home 
                    a(href="#")
                     p About 
                    a(href="#")
                        p Contact 
                .logo 
                    span Landie
                button Buy Now
            main 
                section.section1
                    .section1__text 
                        h1 Introduce Your Product Quickly & Effectively
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    .section1__btn
                        button Purchase UI Kit
                        button Learn More
                    img(src='./images/section1.svg').section1__img 
                section.section2
                    .section2__text 
                        h2 Light, Fast & Powerful
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        .section2__text__tips 
                            div 
                                img(src="./images/section2-icon.svg", alt="")
                                h3 Title Goes Here
                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                            div 
                                img(src="./images/section2-icon.svg", alt="")
                                h3 Title Goes Here
                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    .section2__img 
                        img(src="./images/section2.svg", alt="girl")   
                section.section3 
                section.section4
            footer 
