doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href!="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="./css/main.css")
        title HW #11 
    body
        .container 
            header
                nav
                    a(href="#")
                        p Home 
                    a(href="#")
                     p About 
                    a(href="#")
                        p Contact 
                .logo 
                    span Landie
                button Buy Now
            main 
                section.section1
                    .section1__text 
                        h1 Introduce Your Product Quickly & Effectively
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    .section1__btn
                        button Purchase UI Kit
                        button Learn More
                    img(src='./images/section1.svg').section1__img 
                section.section2
                    .section2__text 
                        h2 Light, Fast & Powerful
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        .section2__text__tips 
                            div 
                                img(src="./images/section2-icon.svg", alt="")
                                h3 Title Goes Here
                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                            div 
                                img(src="./images/section2-icon.svg", alt="")
                                h3 Title Goes Here
                                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    .section2__img 
                        img(src="./images/section2.svg", alt="girl")   
                section.section3
                    .section3__block
                        img(src="./images/section3-1.svg", alt="girl")
                        .section3__block__text 
                            h2 Light, Fast & Powerful
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                    .section3__block
                        img(src="./images/section3-2.svg", alt="girl")
                        .section3__block__text 
                            h2 Light, Fast & Powerful
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                    .section3__block
                        img(src="./images/section3-3.svg", alt="girl")
                        .section3__block__text 
                            h2 Light, Fast & Powerful
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
                            button Purchase Now
        section.section4
            h2 A Price To Suit Everyone
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
            span $40
            p UI Design Kit
            p See, One price. Simple.
            button Purchase Now
        footer.footer
            .footer__block1 
                    p ©2020 Yourcompany
                    .logo 
                        span Landie
                    button Purchase now
            .footer__block2
            .footer__block3 
                nav
                    a(href="#")
                        p Home 
                    a(href="#")
                        p About 
                    a(href="#")
                        p Contact 
                .footer__block3__soc 
                    a(href="https://www.facebook.com")
                        svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 16")
                            path(fill="#B0B8BC" d="M5 5.5v-2a1 1 0 011-1h1V0H5a3 3 0 00-3 3v2.5H0V8h2v8h3V8h2l1-2.5H5z")
                    a(href="https://www.linkedin.com/")
                        svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16")
                            path(fill="#B0B8BC" fill-rule="evenodd" d="M3.5 1.75a1.75 1.75 0 11-3.5 0 1.75 1.75 0 013.5 0zM0 5h3.58v11H0V5zm13.3.12a3.05 3.05 0 00-.24-.05 3.2 3.2 0 00-.64-.07c-2.08 0-3.4 1.52-3.84 2.1V5H5v11h3.58v-6s2.7-3.77 3.84-1v7H16V8.58a3.57 3.57 0 00-2.7-3.46z" clip-rule="evenodd")
                    a(href="https://twitter.com/?lang=en")
                        svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 14")
                            path(fill="#B0B8BC" d="M16 1.87c-.6.26-1.23.44-1.89.52.68-.4 1.2-1.04 1.44-1.81-.63.38-1.33.64-2.08.8a3.29 3.29 0 00-5.6 2.98A9.28 9.28 0 011.12.93a3.3 3.3 0 001.01 4.39 3.24 3.24 0 01-1.48-.4v.03a3.3 3.3 0 002.63 3.22 3.27 3.27 0 01-1.48.05 3.31 3.31 0 003.06 2.29A6.6 6.6 0 010 11.86a9.23 9.23 0 005.03 1.47c6.04 0 9.34-5 9.34-9.33l-.01-.42A6.54 6.54 0 0016 1.88z")
                    a(href="https://www.youtube.com/") 
                        svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12")
                            path(fill="#B0B8BC" fill-rule="evenodd" d="M13.46.76c.95.05 1.43.2 1.86.97.45.77.68 2.1.68 4.43v.01c0 2.33-.23 3.67-.68 4.43-.43.77-.9.91-1.86.98-.96.05-3.37.09-5.46.09s-4.5-.04-5.46-.1c-.95-.06-1.43-.2-1.86-.97C.23 9.84 0 8.5 0 6.17 0 3.82.23 2.5.68 1.72 1.1.95 1.58.8 2.54.76 3.5.69 5.91.66 8 .66s4.5.03 5.46.1zM11 6.16l-5-3v6l5-3z" clip-rule="evenodd")
                    a(href="https://www.instagram.com")
                        svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16")
                            path(fill="#B0B8BC" fill-rule="evenodd" d="M5 0h6a5 5 0 015 5v6a5 5 0 01-5 5H5a5 5 0 01-5-5V5a5 5 0 015-5zm6 14.5a3.5 3.5 0 003.5-3.5V5A3.5 3.5 0 0011 1.5H5A3.5 3.5 0 001.5 5v6A3.5 3.5 0 005 14.5h6zM4 8a4 4 0 118 0 4 4 0 01-8 0zm1.5 0a2.5 2.5 0 105 0 2.5 2.5 0 00-5 0zm7.33-4.3a.53.53 0 11-1.06 0 .53.53 0 011.06 0z" clip-rule="evenodd")

