@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  margin: 0 58px;
}

.title {
  font-family: 'Inter', sans-serif;
  color: #2C2C2C;
  font-size: 25px;
  line-height: 30px;
}

.left, .right {
  display: flex;
  flex-direction: column;
}

.right {
  margin-left: 10%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.blue {
  background: #18A0FB;
  border: none;
  color: white;
}

.gray {
  background: rgba(224, 224, 224, 0.3);
  border: none;
  color: #878787;
}

.white {
  background-color: #fff;
  border: 1px solid #E0E0E0;
  color: #2C2C2C;
}

.transparent {
  background-color: #fff;
  border: 1px solid #18A0FB;
  color: #18A0FB;
}

.red {
  background: #FF3E1D;
  border: none;
  color: white;
}

.btns__big,
.btns__small,
.btns__right-top,
.btns__right-bottom {
  display: flex;
  flex-direction: column;
  width: 45vw;
  justify-content: space-between;
  height: 250px;
  margin-top: 50px;
}

.btns__tag {
  margin-top: 50px;
  width: 10vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.btn__big {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 18px;
  width: 144px;
  height: 46px;
  cursor: pointer;
}

.btn__big__icon-right {
  width: 24px;
  margin-left: 14px;
}

.btn__big__icon-left {
  width: 24px;
  margin-right: 14px;
}

.btn__small {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 16px;
  width: 116px;
  height: 36px;
  cursor: pointer;
}

.btn__small__icon-right {
  width: 21px;
  margin-left: 9px;
}

.btn__small__icon-left {
  width: 21px;
  margin-right: 9px;
}

.svg-white {
  stroke: white;
}

.svg-gray {
  stroke: #878787;
}

.svg-black {
  stroke: #2C2C2C;
}

.svg-blue {
  stroke: #18A0FB;
}

.btn__tag {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 16px;
  padding: 6px 10px;
  margin: auto;
  margin-left: 0;
  cursor: pointer;
}

.btn__tag__icon-black {
  height: 7px;
  margin-left: 10px;
  fill: black;
}

.btn__tag__icon-white {
  height: 7px;
  margin-left: 10px;
  fill: white;
}

.btn__imgOnly {
  display: flex;
  margin-top: 52px;
}

.btn__imgOnly__search {
  background: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 48px;
  outline: none;
}

.btn__imgOnly__download {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 48px;
}

.btn__imgOnly__files {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 48px;
}

.btn__tab {
  display: flex;
}

.btn__tab-big:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}

.btn__tab-big:nth-child(2) {
  border-radius: 0px 5px 5px 0px;
}

.btn__tab-big {
  padding: 14px 48px;
}

.btn__sizes {
  display: flex;
}

.btn__sizes-big:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}

.btn__sizes-big:nth-child(3) {
  border-radius: 0px 5px 5px 0px;
}

.btn__sizes-big {
  padding: 14px 48px;
}
