button.btn__tag.white 
    p Tag 
    svg.btn__tag__icon-black(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 366 366")
        path(d="M243 183L356 70c13-13 13-33 0-46L341 9a32 32 0 00-45 0L183 123 70 9a32 32 0 00-46 0L9 24a32 32 0 000 46l114 113L9 296a32 32 0 000 45l15 15c13 13 33 13 46 0l113-113 113 113c12 13 33 13 45 0l15-15c13-12 13-33 0-45zm0 0")
button.btn__tag.blue 
    p Tag 
    svg.btn__tag__icon-white(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 366 366")
        path(d="M243 183L356 70c13-13 13-33 0-46L341 9a32 32 0 00-45 0L183 123 70 9a32 32 0 00-46 0L9 24a32 32 0 000 46l114 113L9 296a32 32 0 000 45l15 15c13 13 33 13 46 0l113-113 113 113c12 13 33 13 45 0l15-15c13-12 13-33 0-45zm0 0")

button.btn__tag.white 
    p Tag 
button.btn__tag.blue 
    p Tag 