.row 
    button.btn__big.blue Download
    button.btn__big.gray Download
    button.btn__big.white Download
    button.btn__big.transparent Download
.row 
    button.btn__big.blue Download
        svg.btn__big__icon-right(width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path.svg-white(d="M4 12v7h16v-7M12 3.5v10M12 13.5l3.4-3.4M12 13.5l-3.4-3.4" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    button.btn__big.gray Download
        svg.btn__big__icon-right(width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path.svg-gray(d="M4 12v7h16v-7M12 3.5v10M12 13.5l3.4-3.4M12 13.5l-3.4-3.4" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    button.btn__big.white Download
        svg.btn__big__icon-right(width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path.svg-black(d="M4 12v7h16v-7M12 3.5v10M12 13.5l3.4-3.4M12 13.5l-3.4-3.4" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    button.btn__big.transparent Download
        svg.btn__big__icon-right(width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path.svg-blue(d="M4 12v7h16v-7M12 3.5v10M12 13.5l3.4-3.4M12 13.5l-3.4-3.4" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

.row 
    button.btn__big.blue 
        svg.btn__big__icon-left(width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path.svg-white(d="M4 12v7h16v-7M12 3.5v10M12 13.5l3.4-3.4M12 13.5l-3.4-3.4" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        p Download
    button.btn__big.gray 
        svg.btn__big__icon-left(width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path.svg-gray(d="M4 12v7h16v-7M12 3.5v10M12 13.5l3.4-3.4M12 13.5l-3.4-3.4" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round") 
        p Download
    button.btn__big.white 
        svg.btn__big__icon-left(width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path.svg-black(d="M4 12v7h16v-7M12 3.5v10M12 13.5l3.4-3.4M12 13.5l-3.4-3.4" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        p Download
    button.btn__big.transparent
        svg.btn__big__icon-left(width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path.svg-blue(d="M4 12v7h16v-7M12 3.5v10M12 13.5l3.4-3.4M12 13.5l-3.4-3.4" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        p Download
