header, nav, .section1__btn, .section2__text__tips, .section3__block, .footer__block1, .footer__block3, .footer__block3__soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1, .section4, .footer {
  display: flex;
  flex-direction: column;
}

header button, .section1__btn button:nth-child(1), .section1__btn button:nth-child(2), .section3__block__text button, .section4 button, .footer__block1 button {
  cursor: pointer;
  outline: none;
  background: #111B47;
  color: white;
  border-radius: 2px;
  border: 2px solid #091133;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

header, .section1__text, .section1__btn, .section2__text {
  position: relative;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
}

a {
  text-decoration: none;
}

h1 {
  color: #091133;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
}

h2 {
  color: #091133;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}

p {
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
}

.container {
  padding: 0 10%;
}

header {
  margin-top: 12px;
}

header button {
  font-size: 12px;
  line-height: 18px;
  padding: 5px 55px;
  margin-left: 10%;
}

header button:hover {
  color: #091133;
  background: white;
}

.logo {
  font-weight: 900;
  font-size: 26px;
  color: #37447E;
}

nav {
  width: 25vw;
}

nav p {
  line-height: 24px;
  font-size: 14px;
}

nav p:hover {
  font-weight: 700;
}

.section1 {
  margin-top: 20%;
}

.section1__text {
  width: 40vw;
}

.section1__text:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}

.section1__btn {
  width: 30vw;
  min-width: 410px;
  margin-top: 10%;
}

.section1__btn button:nth-child(1) {
  padding: 5px 40px;
}

.section1__btn button:nth-child(1):hover {
  color: #091133;
  background: white;
}

.section1__btn button:nth-child(2) {
  padding: 5px 55px;
  background: transparent;
  color: #091133;
}

.section1__btn button:nth-child(2):hover {
  color: white;
  background: #091133;
}

.section1__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.section2 {
  display: flex;
  align-items: center;
  margin-top: 600px;
}

.section2__text {
  width: 40vw;
}

.section2__text__tips {
  margin-top: 20%;
}

.section2__text__tips h3 {
  color: #091133;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.section2__text__tips p {
  font-size: 12px;
  line-height: 18px;
  color: #5D6970;
  margin: 0 15px 0 0;
}

.section2__img {
  position: absolute;
  z-index: 0;
  right: 5%;
  height: auto;
  margin-left: 5vw;
}

.section3 {
  margin-top: 170px;
}

.section3__block {
  margin-top: 20%;
}

.section3__block img {
  width: 40%;
}

.section3__block__text {
  width: 50%;
  margin-left: 10%;
}

.section3__block__text button {
  padding: 5px 30px;
  margin-top: 10%;
}

.section3__block__text button:hover {
  color: #091133;
  background: white;
}

.section4 {
  margin-top: 10%;
  align-items: center;
  background-image: url(../images/bg-4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150vw;
  text-align: center;
  padding: 10% 27% 10%;
}

.section4 span {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  margin-top: 5%;
}

.section4 p:nth-of-type(3) {
  font-size: 14px;
  line-height: 24px;
  color: #5D6970;
}

.section4 button {
  padding: 5px 30px;
}

.section4 button:hover {
  color: #091133;
  background: white;
}

.footer {
  background-color: #E7ECFF;
  padding: 5% 10%;
}

.footer__block1 {
  align-items: center;
}

.footer__block1 p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #5D6970;
}

.footer__block1 button {
  padding: 5px 17px;
}

.footer__block1 button:hover {
  color: #091133;
  background: white;
}

.footer__block2 {
  width: 100%;
  height: 1px;
  background: #CDD1D4;
  border: none;
  margin-top: 5%;
  margin-bottom: 2%;
}

.footer__block3 {
  align-items: center;
}

.footer__block3 nav p {
  color: #929ECC;
}

.footer__block3 nav p:hover {
  color: #091133;
}

.footer__block3__soc {
  align-items: center;
  width: 20vw;
}

.footer__block3 svg {
  height: 16px;
  width: auto;
}

.footer__block3 svg path:hover {
  fill: #091133;
}

@media (max-width: 1024px) {
  nav p {
    font-size: 12px;
  }
  header button {
    margin-left: 0;
  }
  .section1 {
    margin-top: 20%;
    align-items: center;
    text-align: center;
  }
  .section1__text {
    width: 100%;
  }
  .section1__btn {
    width: 100%;
    min-width: 0px;
    margin-top: 15%;
  }
  .section1__btn button:nth-child(1) {
    margin-left: 10%;
  }
  .section1__btn button:nth-child(2) {
    margin-right: 10%;
  }
  .section1__img {
    display: none;
  }
  .section2 {
    margin-top: 20%;
    text-align: center;
  }
  .section2__text {
    width: 100vw;
  }
  .section2__tips p {
    margin: 0 15px;
  }
  .section2__img {
    display: none;
  }
  .section3 {
    margin-top: 170px;
  }
  .section3__block {
    flex-direction: column;
    margin-top: 20%;
    text-align: center;
  }
  .section3__block img {
    width: 50%;
  }
  .section3__block__text {
    width: 100%;
    margin-left: 0%;
  }
  .section4 {
    background-size: 250vw;
    padding: 10%;
  }
  .footer__block1 p {
    font-size: 12px;
  }
  .footer__block1 button {
    padding: 2px 17px;
    font-size: 12px;
  }
  .footer__block3__soc {
    width: 35vw;
  }
  .footer__block3 svg {
    height: 13px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 3%;
  }
  h1 {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.5px;
  }
  h2 {
    font-size: 30px;
    line-height: 45px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
  }
  header nav {
    width: 40vw;
    order: 2;
  }
  header button {
    order: 3;
    padding: 0;
    width: 70px;
    font-size: 10px;
  }
  header .logo {
    order: 1;
    font-size: 24px;
  }
  .section1 {
    margin-top: 10%;
  }
  .section1__btn {
    width: 100%;
    margin-top: 15%;
  }
  .section1__btn button:nth-child(1) {
    margin: 0 5%;
    width: 50%;
    padding: 5px 0px;
  }
  .section1__btn button:nth-child(2) {
    margin: 0 5%;
    padding: 5px 0px;
    width: 50%;
  }
  .section2__text__tips {
    margin-top: 10%;
  }
  .section3 {
    margin-top: 10%;
  }
  .section3 button {
    padding: 3px 0px;
    width: 150px;
  }
  .section4 {
    background-size: 500vw;
  }
  .section4 p:nth-of-type(3) {
    font-size: 12px;
    line-height: 25px;
  }
  .section4 button {
    padding: 3px 0px;
    width: 150px;
  }
  .footer {
    padding: 5%;
  }
  .footer__block1 p {
    font-size: 10px;
    width: 30vw;
    max-width: 110px;
  }
  .footer__block1 .logo {
    font-size: 24px;
  }
  .footer__block1 button {
    padding: 0;
    font-size: 12px;
    max-width: 110px;
    width: 30vw;
  }
  .footer__block3 nav {
    width: 37vw;
  }
  .footer__block3__soc {
    width: 35vw;
  }
  .footer__block3__soc svg {
    height: 12px;
  }
}
