.btn__tab{
    display: flex;
    font-size: 15px;
    line-height: 18px;
    &-big:nth-child(1){
        border-radius: 5px 0px 0px 5px;
    }
    &-big:nth-child(2){
        border-radius: 0px 5px 5px 0px;
    }
    &-big{
        padding: 14px 48px;
    }
    &-small:nth-child(1){
        border-radius: 5px 0px 0px 5px;
    }
    &-small:nth-child(2){
        border-radius: 0px 5px 5px 0px;
    }
    &-small{
        padding: 9px 24px;
    }
}   