.btn__imgOnly{
    display: flex;
    margin-top: 52px;
    &__search{
        border-radius: 5px 0px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 48px;
    }
    &__download{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 48px;
    }
    &__files{
        border-radius: 0px 5px 5px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 48px;
    }
}