/* default styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    min-width: 1200px;
    padding: 5% 12%;
    margin: 0 auto;
    background:rgb(248, 251, 254);
}

h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #212353;
    line-height: 110%;
}

h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #212353;
    line-height: 130%;
}

h3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #212353;
    line-height: 130%;
}

p{
    font-family: 'Nanum Gothic', sans-serif;
    color: #4B5D68;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

button{
    font-family: 'Nanum Gothic', sans-serif;
    border: none;
    background: white;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    outline:none;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    width: 210px;
    height: 60px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;
}

button:hover {
    background: #F063B8;
    color: white;
}

a{
    display: block;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    color: #212353;
    line-height: 180%;
    font-size: 16px;
}

a:hover{
    font-weight: 800;
}

hr{
    background-color: #9c69e2;
    color: #9C69E2;
    border-width: 0;
    opacity: 0.2;
    margin-top: 12%;
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
}

/* sections */

header{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    align-items: center;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    gap: 10px;
}

.logo{
    width: 49px;
    height: 35px;
}

.section1{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 60%;
    background-image: url(./images/main/section-1.png);
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y: bottom;
    background-size: 700px;
    gap: auto;
    height: 500px;;
}

.section1 p{
    width: 50%;
}

.btn-learn{
    color: white;
    background: #9C69E2;
    grid-template-columns: 1fr;
    width: 170px;
}

.section2 {
    margin-top: 20%;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    height: 560px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.section2 img{
    grid-row: 1/3;
    grid-column: 1/2;
}

.section2 p{
    grid-column: 2;
    grid-row: 2;
    width: 80%;
}

.section2 h2{
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    width: 90%;
}

#section3{
    margin-top: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10%;
    align-items: center;
    justify-items: center;
}

#section3 h2{
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    align-self: end;
}

.section3-p{
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    width: 50%;
    font-size: 18px;
} 

.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5%;
    margin: 10% 5%;
}

.features img{
    grid-column: 1;
    grid-row: 1/4;
}

.features p{
    align-self: start;
    height: 160px;
    width: 220px;
}

.features-a{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    gap: 7%;
}

.features-a:hover{
    color: #F063B8;
    grid-template-columns: 1.1fr 1fr;
}

.features-a a:hover{
    color: #F063B8;
}

.testimonials {
    background: #9C69E2;
    border-radius: 50px;
    margin-top: 40%;
    padding: 8% 8% 5%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 8%;
}

.testimonials h2{
    color: white;
}

.testimonials-main {
    background: white;
    padding:  10%;
   justify-self: center;
    border-radius: 20px;
    grid-column: 1/4;
    grid-row: 2;
    box-shadow: 0 20px rgb(135, 86, 218);
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: start;
}

.testimonials-main a {
    color: #9C69E2;
    font-size: 14px;
}

.p-testimonials{
    line-height: 180%;
    margin-top: 5%;
    padding-right: 15%;
}

.circles {
    grid-column: 1;
    grid-row: 3;
}

.testimonials-arrows{
    grid-column: 2/3;
    grid-row: 3;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
}

.testimonials-arrows a:hover {
    margin: 0 8%;
}

.circle {
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
}

.circle:hover {
    height: 10px;
    width: 10px;
    background-color: #F063B8;
    cursor: pointer;
}

.circle-selected {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #F063B8;
    border-radius: 50%;
}

.try-for-free{
    margin-top: 30%;
    display:grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 5%;
    align-items: center;
}

.try-for-free p{
    margin-top: 5%;
}

footer{
    margin: 20% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    row-gap: 50%;
}

.footer{
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 3fr;
    gap: 10%;
}

.f-logo{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5%;
    align-items: center;
    padding-bottom: 5%;
}

footer a:hover {
    color: #F063B8;
}

.soc{
    display: flex;
}

.soc-icon {
    background: #212353;
    opacity: 0.1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    margin-top: 5%;
}

.fb:hover{
    background: #29487d;
    opacity: 1;
}

.twitter:hover {
    background: #08a0e9;
    opacity: 1;
}

.instagram:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    opacity: 1;
}

.dialog-icon {
    justify-self: end;
    background: rgb(234, 224, 246);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-icon:hover {
    background: rgb(216, 183, 255);
}


/* styles */

.white{
    filter: invert(100%) sepia(1%) saturate(7412%) hue-rotate(132deg) brightness(106%) contrast(98%);
}

.w-800{
    font-weight: 800;
}

.bg-pink{
    background: #F063B8;
}

.bg-pink:hover{
    background: #9C69E2;
}

.mb{
    margin-bottom: 50px;
}

.line-height-250 {
    line-height: 250%;
}