/* default styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 3vw;
    font-weight: 600;
    padding: 0 0 2vw 0;
}

h2 {
    font-size: 1.5vw;
    font-weight: 700;
    padding-bottom: 3vw;
    color: #101010;

}

p{
    font-size: 1vw;
    font-weight: 400;
    padding: 2vw 0 4vw 0;
}

input {
    width: 98%;
    height: 4vw;
    padding: 1vw 2vw;
    margin: 0.5vw;
    border: 0.1vw solid #333333;
    border-radius: 0.3vw;
    font-weight: 400;
}

#service {
    width: 98%;
    height: 4vw;
    padding: 1vw 2vw;
    margin: 0.5vw;
    border: 0.1vw solid #333333;
    border-radius: 0.3vw;
    font-weight: 400;
    color: rgba(19, 39, 67, 0.5);
    font-size: 1vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(19, 39, 67, 0.5);
    font-size: 1vw;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(19, 39, 67, 0.5);
    font-size: 1vw;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(19, 39, 67, 0.5);
    font-size: 1vw;
  }

  button {
    width: 28%;
    height: 3.5vw;
    padding: 0.7vw;
    margin: 0.5vw;
    border: 0.1vw solid #ED4C5C; 
    background: #ED4C5C;
    border-radius: 0.3vw;
    font-weight: 400;
    color: white;
    font-size: 0.9vw;
  }


    /* flexbox */

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-content-ar {
    justify-content: space-around;
}

.justify-content-sb {
    justify-content: space-between; 
}

  /* styles */

  .bg-pink {
    background-color: #ED4C5C ;
}
    
.white {
    color: white;
}


/* sections */

.section-1 {
    padding: 8vw 20vw 8vw 5vw; 
    width: 100%;
    align-items: center;
}

.section-2 {
    padding: 8vw 5vw 12vw 5vw; 
    width: 100%;
}

footer {
    padding: 5vw 6vw; 
    width: 100%;
    background: #FAFAFA;
}

.main-text{
    width: 31vw;
}

.logo{
    margin-right: 2vw;
    width: 2vw;
}

.slider {
    width: 25vw;
}

.slider img {
    width: 145%;
}

.r-form {
    width: 40vw;
}

.half {
    width: 45%;
}

.f-col {
    flex:1;
    padding: 3.5vw;
}
.soc {
    width: 1.5vw;
    height: 0.9vw;
}

.f-text {
    padding: 0 0 0.8vw;
    color: #101010;
    font-size: 0.8vw;
}

.supp{
    width: 20vw;
}

.cop {
    padding:3vw 3vw 0;
}
