body{
    max-width: 1440px;
}

body>h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.accordion-body{
    padding: 0;
    margin: 0;
    width: 50vw;
    height: 400px;
    background: black;
}
.star-wars {
    font-family: 'PT Mono', monospace;
    position: relative;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.star-wars span{  
    margin-top: -40px;  
    display: block;
    padding: 0;
    color: white;
    font-size: 40px;
    transform: rotate(-45deg); 
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}

.star-wars::before{
    content: '⸺-';
    display: block;
    color: transparent;
    font-size: 40px;
    transition-duration: 0.5s;
    transition-delay: 0.3s;
    transform: rotate(45deg);
}

.star-wars::after{
    content: '⸺-';
    display: block;
    margin-top: -60px;
    margin-left: 11px;
    color: white;
    font-size: 40px;
    transform: rotate(45deg);
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}

.star-wars:hover::after{
    cursor: pointer;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
.star-wars:hover span{  
    cursor: pointer;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 25px, #FF0000 0px 0px 10px, #ff2d2d 0px 0px 15px, #ff2d2d 0px 0px 35px, #ff2d2d 0px 0px 50px, #ff2d2d 0px 0px 75px;
}

 .star-wars:active::after{
    margin-top: -40px;
    margin-left: 0;
    transform: rotate(0deg);
    text-shadow: none;
}

.star-wars:active span{
    margin-left: -8px;
    transform: rotate(0deg);
    text-shadow: none;
}
.star-wars:active::before{
    color: white;
    transform: rotate(0deg);
}

@keyframes crandle-start {
    0% {left:0%; top:0%;}
    25% {left: -100px; top: -70px}
    50% {left:0%; top:0%;}
    100% {left:0%; top:0%;}
}

@keyframes crandle-end {
    0% {left:0%; top:0%;}
    25% {left: 100px; top: -70px}
    50% {left:0%; top:0%;}
    100% {left:0%; top:0%;}
}

.newtons-crandle{
    background: white;
    display: flex;
    padding: 20%;
}

.newtons-crandle  svg{
    box-shadow: 0px 120px 50px -25px #918f8f;
    border-radius: 100px;
    padding: 0;
}

.newtons-crandle:hover svg:nth-child(1){
    position: relative;
    left: 0%;
    top: 0%;
    animation-name: crandle-start;
    animation-duration: 0.8s;
    animation-delay: 0;
    animation-iteration-count:infinite;
}

.newtons-crandle:hover svg:nth-child(7){
    position: relative;
    left: 0%;
    top: 0%;
    animation-name: crandle-end;
    animation-delay: 0.4s;
    animation-duration: 0.8s;
    animation-iteration-count:infinite;
}
